.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.211426;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.190430;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.211426;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.211426;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.190430;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls7b{letter-spacing:-19.200001px;}
.ls97{letter-spacing:-18.440001px;}
.ls55{letter-spacing:-18.040001px;}
.ls3f{letter-spacing:-17.760000px;}
.ls2d{letter-spacing:-17.680000px;}
.ls52{letter-spacing:-17.360001px;}
.ls38{letter-spacing:-17.280001px;}
.ls61{letter-spacing:-17.120001px;}
.ls44{letter-spacing:-17.000000px;}
.ls36{letter-spacing:-16.920000px;}
.ls47{letter-spacing:-16.680000px;}
.ls3d{letter-spacing:-16.600000px;}
.ls2f{letter-spacing:-16.520000px;}
.ls4b{letter-spacing:-16.440001px;}
.ls6f{letter-spacing:-16.360001px;}
.ls5d{letter-spacing:-16.200001px;}
.ls4d{letter-spacing:-15.640000px;}
.ls67{letter-spacing:-15.240000px;}
.ls31{letter-spacing:-14.960000px;}
.ls5c{letter-spacing:-14.880000px;}
.ls45{letter-spacing:-14.720000px;}
.ls57{letter-spacing:-11.240000px;}
.ls58{letter-spacing:-7.480000px;}
.ls3b{letter-spacing:-7.440000px;}
.ls4c{letter-spacing:-7.280000px;}
.ls54{letter-spacing:-7.000000px;}
.ls34{letter-spacing:-6.960000px;}
.ls42{letter-spacing:-6.840000px;}
.ls4f{letter-spacing:-6.760000px;}
.ls6c{letter-spacing:-6.600000px;}
.ls62{letter-spacing:-6.560000px;}
.ls68{letter-spacing:-6.320000px;}
.ls6e{letter-spacing:-6.120000px;}
.ls8f{letter-spacing:-5.320000px;}
.ls64{letter-spacing:-5.200000px;}
.ls69{letter-spacing:-4.840000px;}
.ls6d{letter-spacing:-4.400000px;}
.ls66{letter-spacing:-4.000000px;}
.ls11{letter-spacing:-3.920000px;}
.ls94{letter-spacing:-3.800000px;}
.ls4{letter-spacing:-3.480000px;}
.lsb9{letter-spacing:-3.440000px;}
.ls15{letter-spacing:-3.400000px;}
.ls10{letter-spacing:-3.160000px;}
.lsa{letter-spacing:-3.040000px;}
.ls14{letter-spacing:-2.920000px;}
.ls91{letter-spacing:-2.760000px;}
.ls1c{letter-spacing:-2.680000px;}
.ls83{letter-spacing:-2.640000px;}
.lsd{letter-spacing:-2.560000px;}
.lsb7{letter-spacing:-2.480000px;}
.lsa7{letter-spacing:-2.440000px;}
.ls87{letter-spacing:-2.400000px;}
.ls7{letter-spacing:-2.320000px;}
.ls5{letter-spacing:-2.240000px;}
.ls19{letter-spacing:-2.200000px;}
.lsba{letter-spacing:-2.040000px;}
.lsb{letter-spacing:-2.000000px;}
.lsb6{letter-spacing:-1.880000px;}
.lse{letter-spacing:-1.840000px;}
.ls71{letter-spacing:-1.760000px;}
.lsbb{letter-spacing:-1.720000px;}
.ls8d{letter-spacing:-1.640000px;}
.ls1{letter-spacing:-1.600000px;}
.ls98{letter-spacing:-1.520000px;}
.ls2{letter-spacing:-1.480000px;}
.ls9e{letter-spacing:-1.440000px;}
.lsa9{letter-spacing:-1.360000px;}
.ls24{letter-spacing:-1.320000px;}
.ls1f{letter-spacing:-1.240000px;}
.ls8b{letter-spacing:-1.200000px;}
.ls29{letter-spacing:-1.120000px;}
.ls9d{letter-spacing:-1.080000px;}
.ls22{letter-spacing:-1.000000px;}
.ls8{letter-spacing:-0.920000px;}
.ls16{letter-spacing:-0.840000px;}
.ls2b{letter-spacing:-0.800000px;}
.ls95{letter-spacing:-0.720000px;}
.ls1d{letter-spacing:-0.680000px;}
.ls28{letter-spacing:-0.600000px;}
.ls8c{letter-spacing:-0.560000px;}
.ls89{letter-spacing:-0.480000px;}
.ls90{letter-spacing:-0.440000px;}
.ls12{letter-spacing:-0.400000px;}
.ls0{letter-spacing:0.000000px;}
.ls17{letter-spacing:0.400000px;}
.ls6{letter-spacing:0.440000px;}
.ls9f{letter-spacing:0.480000px;}
.ls85{letter-spacing:0.560000px;}
.ls9{letter-spacing:0.600000px;}
.lsa5{letter-spacing:0.680000px;}
.ls27{letter-spacing:0.720000px;}
.ls80{letter-spacing:0.800000px;}
.ls72{letter-spacing:0.840000px;}
.ls73{letter-spacing:0.920000px;}
.ls2a{letter-spacing:1.000000px;}
.ls9a{letter-spacing:1.040000px;}
.lsa6{letter-spacing:1.080000px;}
.ls3{letter-spacing:1.120000px;}
.ls88{letter-spacing:1.200000px;}
.ls70{letter-spacing:1.240000px;}
.lsb3{letter-spacing:1.280000px;}
.ls92{letter-spacing:1.320000px;}
.ls74{letter-spacing:1.360000px;}
.ls21{letter-spacing:1.480000px;}
.ls26{letter-spacing:1.520000px;}
.ls96{letter-spacing:1.600000px;}
.ls84{letter-spacing:1.640000px;}
.lsad{letter-spacing:1.680000px;}
.lsac{letter-spacing:1.720000px;}
.lsab{letter-spacing:1.760000px;}
.ls23{letter-spacing:1.840000px;}
.ls9b{letter-spacing:1.920000px;}
.ls8a{letter-spacing:2.000000px;}
.ls1e{letter-spacing:2.040000px;}
.lsa4{letter-spacing:2.120000px;}
.lsa0{letter-spacing:2.160000px;}
.ls93{letter-spacing:2.240000px;}
.lsb2{letter-spacing:2.280000px;}
.lsaf{letter-spacing:2.360000px;}
.lsa8{letter-spacing:2.440000px;}
.ls99{letter-spacing:2.480000px;}
.lsae{letter-spacing:2.520000px;}
.lsa3{letter-spacing:2.680000px;}
.ls8e{letter-spacing:2.720000px;}
.lsb8{letter-spacing:2.760000px;}
.lsb4{letter-spacing:2.880000px;}
.ls86{letter-spacing:2.960000px;}
.lsb0{letter-spacing:3.000000px;}
.lsa2{letter-spacing:3.080000px;}
.lsb5{letter-spacing:3.200000px;}
.ls9c{letter-spacing:3.280000px;}
.ls82{letter-spacing:3.400000px;}
.lsaa{letter-spacing:3.680000px;}
.ls81{letter-spacing:3.880000px;}
.lsa1{letter-spacing:4.120000px;}
.lsb1{letter-spacing:4.640000px;}
.ls32{letter-spacing:8.000000px;}
.ls7c{letter-spacing:8.520000px;}
.ls30{letter-spacing:8.720000px;}
.ls56{letter-spacing:8.840000px;}
.ls35{letter-spacing:9.400000px;}
.ls4a{letter-spacing:9.440000px;}
.ls40{letter-spacing:9.680000px;}
.ls2e{letter-spacing:9.760000px;}
.ls60{letter-spacing:9.840000px;}
.ls3c{letter-spacing:9.880000px;}
.ls46{letter-spacing:9.920000px;}
.ls50{letter-spacing:9.960000px;}
.ls5e{letter-spacing:10.000000px;}
.ls77{letter-spacing:10.040000px;}
.ls6a{letter-spacing:10.080000px;}
.ls39{letter-spacing:10.120000px;}
.ls37{letter-spacing:10.160000px;}
.ls43{letter-spacing:10.200000px;}
.ls51{letter-spacing:10.280000px;}
.ls7a{letter-spacing:10.440000px;}
.ls3e{letter-spacing:10.600000px;}
.ls5a{letter-spacing:10.640000px;}
.ls2c{letter-spacing:10.720000px;}
.ls75{letter-spacing:10.800000px;}
.ls65{letter-spacing:10.920000px;}
.ls7f{letter-spacing:11.320000px;}
.ls79{letter-spacing:11.600000px;}
.ls76{letter-spacing:11.840000px;}
.ls78{letter-spacing:12.000000px;}
.ls5b{letter-spacing:12.440000px;}
.ls53{letter-spacing:12.800000px;}
.ls5f{letter-spacing:13.080000px;}
.ls41{letter-spacing:13.240000px;}
.ls3a{letter-spacing:13.280000px;}
.ls6b{letter-spacing:15.200000px;}
.ls7d{letter-spacing:15.280000px;}
.ls48{letter-spacing:15.320000px;}
.ls33{letter-spacing:15.560000px;}
.ls4e{letter-spacing:21.120001px;}
.ls7e{letter-spacing:21.600000px;}
.ls59{letter-spacing:22.040001px;}
.lsc{letter-spacing:22.120001px;}
.ls49{letter-spacing:22.360001px;}
.ls1b{letter-spacing:22.760000px;}
.ls1a{letter-spacing:23.040001px;}
.ls18{letter-spacing:23.520000px;}
.lsf{letter-spacing:23.840000px;}
.ls63{letter-spacing:24.280001px;}
.ls13{letter-spacing:24.360001px;}
.ls25{letter-spacing:24.600000px;}
.ls20{letter-spacing:25.040001px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.018047px;}
._0{width:1.068023px;}
._2{width:3004.304345px;}
.fc2{color:rgb(38,38,38);}
.fc3{color:rgb(255,255,255);}
.fc1{color:rgb(25,115,235);}
.fc0{color:rgb(0,0,0);}
.fsc{font-size:36.000000px;}
.fs2{font-size:44.000000px;}
.fs1{font-size:46.000000px;}
.fs5{font-size:68.000000px;}
.fs4{font-size:70.000000px;}
.fsd{font-size:72.000000px;}
.fs9{font-size:76.000000px;}
.fs7{font-size:82.000000px;}
.fsa{font-size:96.000000px;}
.fsb{font-size:108.000000px;}
.fs6{font-size:112.000000px;}
.fs0{font-size:144.000000px;}
.fs8{font-size:160.000000px;}
.fs3{font-size:238.000000px;}
.y0{bottom:0.000000px;}
.y7{bottom:8.526844px;}
.y2b{bottom:20.801505px;}
.y6{bottom:36.326825px;}
.y16{bottom:57.803288px;}
.y5{bottom:60.351880px;}
.y1c{bottom:80.353088px;}
.y2a{bottom:80.401932px;}
.y15{bottom:89.353306px;}
.y33{bottom:93.675323px;}
.y3c{bottom:104.675056px;}
.y29{bottom:109.700211px;}
.y32{bottom:122.961887px;}
.y25{bottom:124.476776px;}
.y3b{bottom:133.941921px;}
.y28{bottom:138.986778px;}
.yd{bottom:146.417709px;}
.y1b{bottom:148.883091px;}
.y31{bottom:152.774410px;}
.y24{bottom:153.750214px;}
.y3a{bottom:163.784443px;}
.yc{bottom:168.122856px;}
.y27{bottom:168.261929px;}
.y23{bottom:183.041927px;}
.yb{bottom:190.852859px;}
.y26{bottom:198.104450px;}
.ya{bottom:212.582861px;}
.y22{bottom:212.884449px;}
.y30{bottom:216.877029px;}
.y1a{bottom:218.053074px;}
.y21{bottom:227.384426px;}
.y39{bottom:227.871902px;}
.y2f{bottom:246.171879px;}
.y14{bottom:255.704546px;}
.y20{bottom:256.674404px;}
.y38{bottom:257.145332px;}
.y9{bottom:270.581326px;}
.y2e{bottom:275.984402px;}
.y19{bottom:276.103088px;}
.y13{bottom:286.474543px;}
.y37{bottom:286.974422px;}
.y18{bottom:298.633091px;}
.y4{bottom:299.585892px;}
.y3f{bottom:305.125877px;}
.y12{bottom:316.534525px;}
.y8{bottom:341.921322px;}
.y3{bottom:342.845886px;}
.y11{bottom:346.149902px;}
.y1f{bottom:348.203917px;}
.y3e{bottom:349.310341px;}
.y2d{bottom:349.310349px;}
.y36{bottom:367.453400px;}
.y10{bottom:376.794571px;}
.y2{bottom:387.030350px;}
.y17{bottom:388.456512px;}
.y35{bottom:388.602978px;}
.y3d{bottom:392.205875px;}
.y2c{bottom:392.205883px;}
.y1e{bottom:393.214119px;}
.yf{bottom:406.836288px;}
.y34{bottom:410.232977px;}
.y1d{bottom:421.803907px;}
.y1{bottom:429.925884px;}
.ye{bottom:437.454561px;}
.hd{height:36.000000px;}
.h3{height:44.000000px;}
.h2{height:46.000000px;}
.h6{height:68.000000px;}
.h5{height:70.000000px;}
.he{height:72.000000px;}
.ha{height:76.000000px;}
.h8{height:82.000000px;}
.hb{height:96.000000px;}
.hc{height:108.000000px;}
.h7{height:112.000000px;}
.h1{height:144.000000px;}
.h9{height:160.000000px;}
.h4{height:238.000000px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x1{left:7.500000px;}
.xc{left:42.924957px;}
.x7{left:47.724960px;}
.x9{left:59.299927px;}
.xa{left:70.474976px;}
.xd{left:77.074951px;}
.x8{left:79.250000px;}
.xe{left:85.874969px;}
.x4{left:254.250000px;}
.x5{left:263.329922px;}
.x2{left:274.479980px;}
.x3{left:296.730042px;}
.x6{left:355.230003px;}
.xb{left:470.569977px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls7b{letter-spacing:-25.600001pt;}
.ls97{letter-spacing:-24.586667pt;}
.ls55{letter-spacing:-24.053335pt;}
.ls3f{letter-spacing:-23.680000pt;}
.ls2d{letter-spacing:-23.573334pt;}
.ls52{letter-spacing:-23.146667pt;}
.ls38{letter-spacing:-23.040001pt;}
.ls61{letter-spacing:-22.826668pt;}
.ls44{letter-spacing:-22.666667pt;}
.ls36{letter-spacing:-22.560000pt;}
.ls47{letter-spacing:-22.240000pt;}
.ls3d{letter-spacing:-22.133334pt;}
.ls2f{letter-spacing:-22.026667pt;}
.ls4b{letter-spacing:-21.920001pt;}
.ls6f{letter-spacing:-21.813334pt;}
.ls5d{letter-spacing:-21.600001pt;}
.ls4d{letter-spacing:-20.853334pt;}
.ls67{letter-spacing:-20.320000pt;}
.ls31{letter-spacing:-19.946667pt;}
.ls5c{letter-spacing:-19.840000pt;}
.ls45{letter-spacing:-19.626667pt;}
.ls57{letter-spacing:-14.986666pt;}
.ls58{letter-spacing:-9.973333pt;}
.ls3b{letter-spacing:-9.920000pt;}
.ls4c{letter-spacing:-9.706667pt;}
.ls54{letter-spacing:-9.333333pt;}
.ls34{letter-spacing:-9.280000pt;}
.ls42{letter-spacing:-9.120000pt;}
.ls4f{letter-spacing:-9.013334pt;}
.ls6c{letter-spacing:-8.800000pt;}
.ls62{letter-spacing:-8.746667pt;}
.ls68{letter-spacing:-8.426667pt;}
.ls6e{letter-spacing:-8.160000pt;}
.ls8f{letter-spacing:-7.093334pt;}
.ls64{letter-spacing:-6.933333pt;}
.ls69{letter-spacing:-6.453334pt;}
.ls6d{letter-spacing:-5.866667pt;}
.ls66{letter-spacing:-5.333333pt;}
.ls11{letter-spacing:-5.226667pt;}
.ls94{letter-spacing:-5.066667pt;}
.ls4{letter-spacing:-4.640000pt;}
.lsb9{letter-spacing:-4.586667pt;}
.ls15{letter-spacing:-4.533333pt;}
.ls10{letter-spacing:-4.213333pt;}
.lsa{letter-spacing:-4.053333pt;}
.ls14{letter-spacing:-3.893333pt;}
.ls91{letter-spacing:-3.680000pt;}
.ls1c{letter-spacing:-3.573333pt;}
.ls83{letter-spacing:-3.520000pt;}
.lsd{letter-spacing:-3.413333pt;}
.lsb7{letter-spacing:-3.306667pt;}
.lsa7{letter-spacing:-3.253333pt;}
.ls87{letter-spacing:-3.200000pt;}
.ls7{letter-spacing:-3.093333pt;}
.ls5{letter-spacing:-2.986667pt;}
.ls19{letter-spacing:-2.933333pt;}
.lsba{letter-spacing:-2.720000pt;}
.lsb{letter-spacing:-2.666667pt;}
.lsb6{letter-spacing:-2.506667pt;}
.lse{letter-spacing:-2.453333pt;}
.ls71{letter-spacing:-2.346667pt;}
.lsbb{letter-spacing:-2.293333pt;}
.ls8d{letter-spacing:-2.186667pt;}
.ls1{letter-spacing:-2.133333pt;}
.ls98{letter-spacing:-2.026667pt;}
.ls2{letter-spacing:-1.973333pt;}
.ls9e{letter-spacing:-1.920000pt;}
.lsa9{letter-spacing:-1.813333pt;}
.ls24{letter-spacing:-1.760000pt;}
.ls1f{letter-spacing:-1.653333pt;}
.ls8b{letter-spacing:-1.600000pt;}
.ls29{letter-spacing:-1.493333pt;}
.ls9d{letter-spacing:-1.440000pt;}
.ls22{letter-spacing:-1.333333pt;}
.ls8{letter-spacing:-1.226667pt;}
.ls16{letter-spacing:-1.120000pt;}
.ls2b{letter-spacing:-1.066667pt;}
.ls95{letter-spacing:-0.960000pt;}
.ls1d{letter-spacing:-0.906667pt;}
.ls28{letter-spacing:-0.800000pt;}
.ls8c{letter-spacing:-0.746667pt;}
.ls89{letter-spacing:-0.640000pt;}
.ls90{letter-spacing:-0.586667pt;}
.ls12{letter-spacing:-0.533333pt;}
.ls0{letter-spacing:0.000000pt;}
.ls17{letter-spacing:0.533333pt;}
.ls6{letter-spacing:0.586667pt;}
.ls9f{letter-spacing:0.640000pt;}
.ls85{letter-spacing:0.746667pt;}
.ls9{letter-spacing:0.800000pt;}
.lsa5{letter-spacing:0.906667pt;}
.ls27{letter-spacing:0.960000pt;}
.ls80{letter-spacing:1.066667pt;}
.ls72{letter-spacing:1.120000pt;}
.ls73{letter-spacing:1.226667pt;}
.ls2a{letter-spacing:1.333333pt;}
.ls9a{letter-spacing:1.386667pt;}
.lsa6{letter-spacing:1.440000pt;}
.ls3{letter-spacing:1.493333pt;}
.ls88{letter-spacing:1.600000pt;}
.ls70{letter-spacing:1.653333pt;}
.lsb3{letter-spacing:1.706667pt;}
.ls92{letter-spacing:1.760000pt;}
.ls74{letter-spacing:1.813333pt;}
.ls21{letter-spacing:1.973333pt;}
.ls26{letter-spacing:2.026667pt;}
.ls96{letter-spacing:2.133333pt;}
.ls84{letter-spacing:2.186667pt;}
.lsad{letter-spacing:2.240000pt;}
.lsac{letter-spacing:2.293333pt;}
.lsab{letter-spacing:2.346667pt;}
.ls23{letter-spacing:2.453333pt;}
.ls9b{letter-spacing:2.560000pt;}
.ls8a{letter-spacing:2.666667pt;}
.ls1e{letter-spacing:2.720000pt;}
.lsa4{letter-spacing:2.826667pt;}
.lsa0{letter-spacing:2.880000pt;}
.ls93{letter-spacing:2.986667pt;}
.lsb2{letter-spacing:3.040000pt;}
.lsaf{letter-spacing:3.146667pt;}
.lsa8{letter-spacing:3.253333pt;}
.ls99{letter-spacing:3.306667pt;}
.lsae{letter-spacing:3.360000pt;}
.lsa3{letter-spacing:3.573333pt;}
.ls8e{letter-spacing:3.626667pt;}
.lsb8{letter-spacing:3.680000pt;}
.lsb4{letter-spacing:3.840000pt;}
.ls86{letter-spacing:3.946667pt;}
.lsb0{letter-spacing:4.000000pt;}
.lsa2{letter-spacing:4.106667pt;}
.lsb5{letter-spacing:4.266667pt;}
.ls9c{letter-spacing:4.373333pt;}
.ls82{letter-spacing:4.533333pt;}
.lsaa{letter-spacing:4.906667pt;}
.ls81{letter-spacing:5.173333pt;}
.lsa1{letter-spacing:5.493333pt;}
.lsb1{letter-spacing:6.186666pt;}
.ls32{letter-spacing:10.666667pt;}
.ls7c{letter-spacing:11.360001pt;}
.ls30{letter-spacing:11.626667pt;}
.ls56{letter-spacing:11.786667pt;}
.ls35{letter-spacing:12.533333pt;}
.ls4a{letter-spacing:12.586666pt;}
.ls40{letter-spacing:12.906667pt;}
.ls2e{letter-spacing:13.013334pt;}
.ls60{letter-spacing:13.120000pt;}
.ls3c{letter-spacing:13.173333pt;}
.ls46{letter-spacing:13.226667pt;}
.ls50{letter-spacing:13.280000pt;}
.ls5e{letter-spacing:13.333333pt;}
.ls77{letter-spacing:13.386667pt;}
.ls6a{letter-spacing:13.440000pt;}
.ls39{letter-spacing:13.493333pt;}
.ls37{letter-spacing:13.546666pt;}
.ls43{letter-spacing:13.600000pt;}
.ls51{letter-spacing:13.706666pt;}
.ls7a{letter-spacing:13.919999pt;}
.ls3e{letter-spacing:14.133334pt;}
.ls5a{letter-spacing:14.186667pt;}
.ls2c{letter-spacing:14.293334pt;}
.ls75{letter-spacing:14.400000pt;}
.ls65{letter-spacing:14.560000pt;}
.ls7f{letter-spacing:15.093333pt;}
.ls79{letter-spacing:15.466667pt;}
.ls76{letter-spacing:15.786667pt;}
.ls78{letter-spacing:16.000000pt;}
.ls5b{letter-spacing:16.586666pt;}
.ls53{letter-spacing:17.066667pt;}
.ls5f{letter-spacing:17.440000pt;}
.ls41{letter-spacing:17.653333pt;}
.ls3a{letter-spacing:17.706666pt;}
.ls6b{letter-spacing:20.266666pt;}
.ls7d{letter-spacing:20.373333pt;}
.ls48{letter-spacing:20.426666pt;}
.ls33{letter-spacing:20.746667pt;}
.ls4e{letter-spacing:28.160001pt;}
.ls7e{letter-spacing:28.800001pt;}
.ls59{letter-spacing:29.386668pt;}
.lsc{letter-spacing:29.493334pt;}
.ls49{letter-spacing:29.813334pt;}
.ls1b{letter-spacing:30.346667pt;}
.ls1a{letter-spacing:30.720001pt;}
.ls18{letter-spacing:31.360001pt;}
.lsf{letter-spacing:31.786667pt;}
.ls63{letter-spacing:32.373334pt;}
.ls13{letter-spacing:32.480001pt;}
.ls25{letter-spacing:32.800001pt;}
.ls20{letter-spacing:33.386668pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.357397pt;}
._0{width:1.424031pt;}
._2{width:4005.739127pt;}
.fsc{font-size:48.000000pt;}
.fs2{font-size:58.666667pt;}
.fs1{font-size:61.333333pt;}
.fs5{font-size:90.666667pt;}
.fs4{font-size:93.333333pt;}
.fsd{font-size:96.000000pt;}
.fs9{font-size:101.333333pt;}
.fs7{font-size:109.333333pt;}
.fsa{font-size:128.000000pt;}
.fsb{font-size:144.000000pt;}
.fs6{font-size:149.333333pt;}
.fs0{font-size:192.000000pt;}
.fs8{font-size:213.333333pt;}
.fs3{font-size:317.333333pt;}
.y0{bottom:0.000000pt;}
.y7{bottom:11.369125pt;}
.y2b{bottom:27.735340pt;}
.y6{bottom:48.435767pt;}
.y16{bottom:77.071050pt;}
.y5{bottom:80.469173pt;}
.y1c{bottom:107.137451pt;}
.y2a{bottom:107.202576pt;}
.y15{bottom:119.137741pt;}
.y33{bottom:124.900431pt;}
.y3c{bottom:139.566742pt;}
.y29{bottom:146.266947pt;}
.y32{bottom:163.949183pt;}
.y25{bottom:165.969035pt;}
.y3b{bottom:178.589228pt;}
.y28{bottom:185.315704pt;}
.yd{bottom:195.223612pt;}
.y1b{bottom:198.510788pt;}
.y31{bottom:203.699214pt;}
.y24{bottom:205.000285pt;}
.y3a{bottom:218.379257pt;}
.yc{bottom:224.163808pt;}
.y27{bottom:224.349238pt;}
.y23{bottom:244.055903pt;}
.yb{bottom:254.470479pt;}
.y26{bottom:264.139267pt;}
.ya{bottom:283.443815pt;}
.y22{bottom:283.845932pt;}
.y30{bottom:289.169373pt;}
.y1a{bottom:290.737432pt;}
.y21{bottom:303.179235pt;}
.y39{bottom:303.829203pt;}
.y2f{bottom:328.229172pt;}
.y14{bottom:340.939395pt;}
.y20{bottom:342.232539pt;}
.y38{bottom:342.860443pt;}
.y9{bottom:360.775101pt;}
.y2e{bottom:367.979202pt;}
.y19{bottom:368.137451pt;}
.y13{bottom:381.966057pt;}
.y37{bottom:382.632563pt;}
.y18{bottom:398.177455pt;}
.y4{bottom:399.447856pt;}
.y3f{bottom:406.834503pt;}
.y12{bottom:422.046033pt;}
.y8{bottom:455.895096pt;}
.y3{bottom:457.127848pt;}
.y11{bottom:461.533203pt;}
.y1f{bottom:464.271889pt;}
.y3e{bottom:465.747121pt;}
.y2d{bottom:465.747131pt;}
.y36{bottom:489.937866pt;}
.y10{bottom:502.392761pt;}
.y2{bottom:516.040466pt;}
.y17{bottom:517.942017pt;}
.y35{bottom:518.137304pt;}
.y3d{bottom:522.941167pt;}
.y2c{bottom:522.941177pt;}
.y1e{bottom:524.285492pt;}
.yf{bottom:542.448385pt;}
.y34{bottom:546.977303pt;}
.y1d{bottom:562.405210pt;}
.y1{bottom:573.234512pt;}
.ye{bottom:583.272748pt;}
.hd{height:48.000000pt;}
.h3{height:58.666667pt;}
.h2{height:61.333333pt;}
.h6{height:90.666667pt;}
.h5{height:93.333333pt;}
.he{height:96.000000pt;}
.ha{height:101.333333pt;}
.h8{height:109.333333pt;}
.hb{height:128.000000pt;}
.hc{height:144.000000pt;}
.h7{height:149.333333pt;}
.h1{height:192.000000pt;}
.h9{height:213.333333pt;}
.h4{height:317.333333pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x1{left:10.000000pt;}
.xc{left:57.233276pt;}
.x7{left:63.633280pt;}
.x9{left:79.066569pt;}
.xa{left:93.966634pt;}
.xd{left:102.766602pt;}
.x8{left:105.666667pt;}
.xe{left:114.499959pt;}
.x4{left:339.000000pt;}
.x5{left:351.106562pt;}
.x2{left:365.973307pt;}
.x3{left:395.640055pt;}
.x6{left:473.640004pt;}
.xb{left:627.426636pt;}
}
